<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.yoon.a03_dao.EmpDao">
	
	<select id="getEmpList" resultType="Emp" parameterType="Emp">
		select *
		from emp
	</select>

	<insert id="insertEmp" parameterType="Emp">
		INSERT INTO STSBOOT.EMP (EMPNO, ENAME, JOB, MGR, HIREDATE, SAL, COMM, DEPTNO)
		VALUES(#{empno}, #{ename}, #{job}, #{mgr}, #{hiredate}, #{sal}, #{comm}, #{deptno})
	</insert>

	<select id="getEmp" resultType="Emp">
		select *
		from emp
		where empno = #{empno}
	</select>
	
	<update id = "uptEmp" parameterType="Emp">
		update emp
		   set ename = #{ename},
			   job = #{job},
			   mgr = #{mgr},
			   hiredate = #{hiredate},
			   sal = #{sal},
			   comm = #{comm},
			   deptno = #{deptno}
		 where empno = #{empno}	
	</update>
	
</mapper>